@model IEnumerable<Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<h2>Tournaments</h2>

<table>
    <tr valign="top">
        <th>Tournament</th>
        <th>Description</th>
        <th></th>
    </tr>

@foreach (var tournament in Model) {
    <tr>
        <td>
            <a href="/tournaments/@tournament.Slug">@Html.DisplayFor(m => tournament.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(m => tournament.Description)
        </td>
        <td>
        @if (ViewBag.CanEditTournament(tournament)) {
            @Html.ActionLink("Edit", "Edit", "Tournaments", new { id = tournament.Id, tournamentSlug = tournament.Slug }, null)
        }
        </td>
    </tr>
}
</table>

@if (ViewBag.HasEditAccess) {
    <p>@Html.ActionLink("Create New", "Create", "Tournaments")</p>
}